# Add any directories, files, or patterns you don't want to be tracked by version control

TODO.txt
aclocal.m4
config.log
config.status
configure
EigenGap.la
libtool
Makefile
Makefile.in
EigenGap.lai
EigenGap.so
output.0
output.1
output.2
requests
traces.0
traces.1
traces.2
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
pkgconfig.h.in
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
.dirstamp
EigenGap_la-EigenGap.lo
pkgconfig.h
stamp-h1
EigenGap_la-EigenGap.Plo
EigenGap_la-EigenGap.o
